################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

*.suo
/.vs/WindowsFormsApp3/v16/Server/sqlite3
/.vs
/WindowsFormsApp3/obj/Debug
